@font-face {
  font-family: "averia";
  src: url('../tipografias/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf');
}

/* imagen de fondo */
html { 
  
  font-family: 'averia';
  font-size: 1.2rem;
}

p{
  font-family: 'averia';
  font-size: 1.2rem;
  color:  rgb(252, 245, 229);
}

h1 {
  text-align: center;
  color: rgb(252, 245, 229);
}

.clase {
  text-align: center;
  color: rgb(252, 245, 229);
}

body {
  text-align: center;
  background-color: rgb(16, 23, 32);
}

#link {
  color: #a4ba20;
}

/* pestañas */
.extra {
  position:absolute;
  top: 250px;
  left : 700px;
  z-index: 1;
}

.info {
  position:absolute;
  top: 250px;
  left : 1000px;
  z-index: 1;
}

.videos {
  position:absolute;
  top: 500px;
  left : 700px;
  z-index: 1;
}

.release {
  position:absolute;
  top: 500px;
  left : 1000px;
  z-index: 1;
}

.fondo {
  z-index: -1;
}

/* estrellitas en la lista */
ul { 
  list-style: none;
}

ul li::before {
  content: "\269D";
  color: rgb(252, 245, 229);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul li li::before {
  content: "\2661";
  color: rgb(252, 245, 229);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Footer */
footer p {
  font-size: 0.75rem;
  padding: 0.5rem;
  line-height: 0;
}

footer {
  margin: 2rem 2rem 2rem 2rem;
  padding: 5px;
  background-color: rgb(32, 37, 63);
  color: rgb(252, 245, 229);
  border-radius: 15px;
}